# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
*.tfplan
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc


# Ansible
*.retry
.ansible/


# OS
.DS_Store
Thumbs.db

# Logs
*.log
